<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>
<body class="bg-co">
    <div class="container-fluid" style="background-color: #a0d3f8;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/}">
                <img src="#" th:src="@{/img/logo.jpg}" alt="Bean Logo" width="40" height="40" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop for
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:each="category : ${categories}" class="dropdown-item" href="#"
                               th:href="@{'/category/' + ${category.id}}" th:text="${category.name}"></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>The Affable Bean</h1>
                <p>Welcome to the affable bean project...Welcome to the affable bean project...
                    Welcome to the affable bean project...Welcome to the affable bean project...
                    Welcome to the affable bean project...Welcome to the affable bean project...
                    Welcome to the affable bean project...Welcome to the affable bean project...</p>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3" th:each="category : ${categories}">
                <h3 th:text="${category.name}"></h3>
                <a href="#" th:href="@{'/category/' + ${category.id}}">
                    <img src="#" alt="#" th:src="@{'/img/' + ${category.name} + '.jpg'}"
                         th:alt="${category.name}" width="250" height="250" />
                </a>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/all.js}"></script>
</body>
</html>