<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>
<body class="bg-co">
    <div class="container-fluid" style="background-color: #a0d3f8;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" th:href="@{/}">
                <img src="#" th:src="@{/img/logo.jpg}" alt="Bean Logo" width="40" height="40" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop for
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:each="category : ${categories}" class="dropdown-item" href="#"
                               th:href="@{'/category/' + ${category.id}}" th:text="${category.name}"></a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">View Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Proceed To Checkout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-shopping-cart" aria-hidden="true"></i></span>
                            <span class="badge badge-success align-top">4</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mt-5">
        <div class="row">
            <form th:object="${product}" enctype="multipart/form-data" th:href="@{/product/new}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="price">Price($)</label>
                        <input type="number" class="form-control" id="price" th:field="*{price}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" th:field="*{description}">
                </div>
                <div class="form-group">
                    <label for="category">Choose Category</label>
                    <select class="form-control" id="category" th:field="*{category.id}">
                        <option
                                th:each="category : ${categories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="imageFile">Image</label>
                    <input type="file" class="form-control-file" id="imageFile" name="imageFile">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/all.js}"></script>
</body>
</html>